.container {
  margin-left: 20px;
  border-width: 5px;
  border-style: groove;
}
.jumbotron {
  text-align: center;
  background-color: navy;
}
#logo {
  height: 100px;
}

#label {
  margin-left: 25px;
}
